/*///////////////// structure ////////////////*/
.container-body
{
    margin-top: 65px;
}
.img-admin
{
    width: 150px;
    height: auto;
}
.tags
{
    padding: 0 5px;
}
.tags li
{
    /*display: inline;*/
    font-size: 16px;
    padding: 0;
    list-style: none;
}
.blue
{
    color: #428bca;
}
.margin-right-30
{
    margin-right: 30px;
}
.margin-bottom-30
{
    margin-bottom: 30px;
}
.margin-left-5
{
    margin-left: 5px;
}
.margin-top-20
{
    margin-top: 20px;
}
.badge-green {
    background-color: green;
    float: left !important;
}
.badge-red {
    background-color: red;
    float: left !important;
}
.badge-orange {
    background-color: orange;
    float: left !important;
}
.form-group {
    margin-bottom: 5px;
}
.form-control {
    height: 30px;
}

